build/

# Node / Electron
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Electron Builder output
dist/

# Native build outputs
native/build/
build-visualizer/
visualizer/build/

# Misc
.DS_Store
.env
.env.*
