# Node
node_modules/

# Build
/dist/
/dist2/
/dist3/
/dist4/
/dist5/
/out/

# Native
/native/build/
/build-visualizer/

# Local cache
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Electron
*.log

# VS Code
.vscode/

# Generated
native-dist/*
!native-dist/.gitkeep
!native-dist/windows/
native-dist/windows/*
!native-dist/windows/.gitkeep
!native-dist/linux/
native-dist/linux/*
!native-dist/linux/.gitkeep

# Local duplicate assets (kept for dev, not tracked)
assets/css/
assets/fonts/Inter.ttf
assets/fonts/JetBrainsMono-Regular.ttf
assets/fonts/Ubuntu-Regular.ttf
