build/

# Node / Electron
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Electron Builder output
dist/
bin/

# Native build outputs
native/build/
build-visualizer/
visualizer/build/
native-dist/*
!native-dist/.gitkeep

# Python
venv/
.venv/
__pycache__/

# Misc
.DS_Store
.env
.env.*
imgui.ini
.vscode/
native/*.ipynb
native/build_log.txt
