[Desktop Entry]
Type=Application
Version=1.5
Name=Aurivo Media Player
Comment=Electron tabanlı gelişmiş medya oynatıcı
Exec=aurivo %U
Icon=aurivo
Terminal=false
Categories=AudioVideo;Player;
StartupWMClass=Aurivo Media Player
MimeType=audio/mpeg;audio/wav;audio/flac;audio/aac;audio/ogg;audio/mp4;audio/x-m4a;audio/opus;audio/aiff;audio/x-ms-wma;video/mp4;video/x-matroska;video/x-msvideo;video/quicktime;video/x-ms-wmv;video/webm;video/x-m4v;
Keywords=Music;Audio;Video;Player;Aurivo;
